body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    line-height: 1.6;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background: #212121 url(../images/background.png) no-repeat center top;
    // background-size: 100%;
}
*{
    box-sizing: border-box;
}
article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section {
    display: block;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
nav ul,ul,li{
    list-style: none;
}

a{outline: 0!important}
.btn-play{
    position: absolute;
    margin: 9% 18%;
    z-index: 1;
    
}
.half-black{
    background: #000;
    opacity: 0.5;
    width: 46.5%;
    height: 35%;
    position: absolute;
}
.plus{
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.center{
    justify-content: center;
    vertical-align: middle;
    -webkit-box-pack: center;
}
.cursor{cursor: pointer;}
.nav-tabs{border:unset!important}
.background-fb{
    background: url("../images/contact/fb.png");
    padding: 15px 18px;
    margin-top: 2%;
    background-repeat: no-repeat
}
.fb-page{
    border: 2px
}

.tls-menu--top{
    background: #0a073a;
    width: 100vw;
    height: 55px;
    .mainMenu {
        position: relative;
        width: 975px;
        padding: 15px 0 0;
        margin: 0 auto;
        min-height: 54px;
        text-align: right;
        .menu{
            width: 100%;
            margin-right: 3%;
            li {
                display: inline-block;
                margin-right: 15px;
                a{color: #fff;
                    &:hover{text-decoration-line: none;}
                }
            }
        }
        .logo{
            position: absolute;
            left: 17%;
            top: 0;
            z-index: 1;
            width: 20%;
            a{
                margin: 0;
                padding: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
                color: #5d5d5d;
                text-decoration: none;
            }
        }
    }
}

.tls-title{
    text-align: center;
    margin: 550px 0 20px;

    ul{
        margin-top: 1%;
        margin-left: -4%;
        li{
            display: inline-block;
        }
    }
    
}
.tls-wrapper {
    position: relative;
    .inner{
        width: 1000px;
        min-width: 1000px;
        max-width: 1000px;
        margin: 0 auto;
        .event{
            overflow: hidden;
            width: 100%;
            height: 450px;
            border: 6px solid #eed8b4;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px #000 inset;
            -moz-box-shadow: 0px 0px 10px 0px #000 inset;
            -webkit-box-shadow: 0px 0px 10px 0px #000 inset;
            -o-box-shadow: 0px 0px 10px 0px #000 inset;
            -ms-box-shadow: 0px 0px 10px 0px #000 inset;
            #myTab{
                .active{
                    background: url("../images/ovan.png");
                }
                a:nth-child(odd){
                    background-size: 100%;
                    width: 85px;
                    padding: 2px 10px 2px 12px;
                    background-repeat: no-repeat;
                    display: flex;
                    margin: auto;
                    // a{
                    //     margin: auto;
                    // }
                }
            }
            
            a{
                color: #000;
                &:hover{
                    text-decoration-line: none;
                }
            }
            .col-6:nth-child(1){
                // z-index: -1;
                img{
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }
            .col-6:nth-child(2){
                // z-index: -1;
                .bg-white{
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
                
            }
            
            & div:nth-child(2){
                .content-event{
                    ul{li{height: 46.2px;border-bottom: dotted 1px #000;}}
                }
                ul{
                    li{
                        display: inline-block;
                        span{
                            strong{
                                padding: 2px 8px;
                                background: #00b29b;
                                border-radius: 20px;
                                color: #fff;
                                margin-right: 5px;
                            }
                            span{
                                float: right;
                                color: #939393;
                            }
                        }
                    }
                }

            }
        }
        .ingame{
            position: relative;
            ul{
                li:nth-child(1){
                    .btn-ingame{
                        background: transparent;
                        border: 3px solid #fff;
                        border-radius: 100%;
                        padding: 4px 10px;
                        position: absolute;
                        z-index: 5;
                        bottom: 40px;
                        left: 19px;
                        color: #fff;
                        font-weight: bold;
                        transition: ease 0.3s;
                        cursor: pointer;
                        &:hover{
                            background: #fff;
                            color: #000;
                            -webkit-transition: background-color 0.3s ease-out;
                            -moz-transition: background-color 0.3s ease-out;
                            -o-transition: background-color 0.3s ease-out;
                            transition: background-color 0.3s ease-out;
                        }
                    }
                }
                li:nth-child(2) {
                    .btn-ingame{
                        background: transparent;
                        border: 3px solid #fff;
                        border-radius: 100%;
                        padding: 4px 10px;
                        position: absolute;
                        z-index: 5;
                        bottom: 59px;
                        left: 255px;
                        color: #fff;
                        font-weight: bold;
                        transition: ease 0.3s;
                        cursor: pointer;
                        
                        &:hover{
                            background: #fff;
                            color: #000;
                            -webkit-transition: background-color 0.3s ease-out;
                            -moz-transition: background-color 0.3s ease-out;
                            -o-transition: background-color 0.3s ease-out;
                            transition: background-color 0.3s ease-out;
                        }
                    }
                    img{
                    position: absolute;
                    left: 23%;
                    top: 11%;
                }}
                li:nth-child(3) {
                    .btn-ingame{
                        background: transparent;
                        border: 3px solid #fff;
                        border-radius: 100%;
                        padding: 4px 10px;
                        position: absolute;
                        z-index: 5;
                        bottom: 100px;
                        left: 520px;
                        color: #fff;
                        font-weight: bold;
                        transition: ease 0.3s;
                        cursor: pointer;
                        &:hover{
                            background: #fff;
                            color: #000;
                            -webkit-transition: background-color 0.3s ease-out;
                            -moz-transition: background-color 0.3s ease-out;
                            -o-transition: background-color 0.3s ease-out;
                            transition: background-color 0.3s ease-out;
                        }
                    }
                    img{
                    position: absolute;
                    left: 46%;
                    top: 6%;
                }}
                li:nth-child(4) {
                    .btn-ingame{
                        background: transparent;
                        border: 3px solid #fff;
                        border-radius: 100%;
                        padding: 4px 10px;
                        position: absolute;
                        z-index: 5;
                        bottom: 69px;
                        left: 740px;
                        color: #fff;
                        font-weight: bold;
                        transition: ease 0.3s;
                        cursor: pointer;
                        
                        &:hover{
                            background: #fff;
                            color: #000;
                            -webkit-transition: background-color 0.3s ease-out;
                            -moz-transition: background-color 0.3s ease-out;
                            -o-transition: background-color 0.3s ease-out;
                            transition: background-color 0.3s ease-out;
                        }
                    }
                    img{
                    position: absolute;
                    left: 72%;
                    top: 15%;
                }}
                
            }
        }
        .hethongnhanvat{
            .text-color{
                color: #fff;
                div:nth-child(2){
                    p:nth-child(1){
                        color: #f3fc06;
                    }
                }
            }
            .position-nv{
                margin-top: -8%;
            }
            .tls-title{
                text-align: center;
                justify-content: center;
            }
            .tls-content{
                ul{
                    li{
                        display: inline-flex;
                        margin-right: 8px;
                    }
                }
            }
            .img-skill{
                li{
                    width: 13%;
                    margin: 0!important;
                    margin-left: 2px!important;
                }
                img{
                    width: 100%;
                }
            }
        }
        .contact{
            a,li{
                color: #fff!important;
            }
            .border-double{
                border-bottom: 6px #fff double !important;
            }
            .gallery{
                display: inline-block!important;
                li{
                    background: url(../images/contact/khung.png);
                    background-repeat: repeat;
                    background-size: auto;
                    display: inline-block !important;
                    background-repeat: no-repeat;
                    margin-top: 10px;
                    padding: 6px 7px;
                    width: 49%;
                    background-size: 100%;
                }
            
            }
               
            & > div:nth-child(2){
                .border-double{
                    .active{
                        background: url("../images/ovan2.png");
                    }
                   
                    a:nth-child(odd){
                        background-size: 100%;
                        width: 100px;
                        padding: 10px 10px 10px 12px;
                        background-repeat: no-repeat;
                        display: flex;
                        margin: auto;
                        &:hover{
                            text-decoration-line: none;
                        }
                    }
                    li:nth-child(3){
                        a{
                            padding: 10px 25px 10px 25px!important;
                        }
                    }
                    
                }
                margin-top: 4%!important;
            }
        }
    }
}

.tls-footer-home{
    position: relative;
    top: 250px;
    color: #fff;
    .block-info {
        width: 550px;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    img{
        position: relative;
        top: -60px;
        left: 70px;
    }
}
// begin: Popup
.modal{
    .modal-dialog {
        max-width: 940px;
        margin: 1.75rem auto;
        outline: 0!important;
        .modal-content{
            background: url("../images/popup.png")!important;
            background-size: 100%; 
            background-size: cover !important;
            height: 570px;
            padding: 90px 200px 100px 110px;
            border: unset!important;
            .close{
                background: url("../images/close.png")!important;
                background-size: 100% !important;
                background-repeat: no-repeat;
                width: 4%;
                height: 7%;
                position: absolute;
                right: 15%;
                top: 12%;
                opacity: 1;
                outline: 0;
                z-index: 5;
                
            }
            .modal-body{
                overflow-y: scroll;
                // &::-webkit-scrollbar{
                //     
                //     width: 5px;
                // } 
                // &::-webkit-scrollbar-thumb {
                //     background-color: #000000;
                // }

                &::-webkit-scrollbar{
                    width: 7px;
                    background: #f8e1bc;
                    border-radius: 5px;
                    border: 1px solid #000
                } 
                
                &::-webkit-scrollbar-thumb {
                    background-color: #e7e7c2;
                    border: #858553 solid 1px;
                    width: 6px;
                    height: 6px;
                    border-radius: 5px;
                }
            }
        }
    
    }
    
}
// end: Popup
// begin: right
.tls-right{
    position: fixed;
    right: 0;
    top: 15%;
    z-index: 10;
    .tls-right--bg{
        background: url("../images/right/bg-btn-right.png");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 271px;
        height: 677px;
        cursor: pointer;
        .btn-choi-game{
            img{
                width: 98%;
                position: absolute;
                left: 7%;
                top: -11%;
                &:hover{
                    width: 100%;
                    position: absolute;
                    left: 6%;
                    top: -11%;
                }
            }
            
        }
        ul{
            position: absolute;
            display: block;
            margin: auto;
            top: 260px;
            left: 40px;
            li{
                margin-top: 5px;
            }
        }
    }
}
// end: right


.tls-detail{
    .container{
        background: url("../images/bg.png");
        width: 100%;
        height: 1509px;
        background-size: 100%;
        background-repeat: no-repeat;
        padding: 30px 120px;
        // nap the
        .content-detail{
            span{
                &:hover{
                    color: #3a99c0;
                }
            }
            h1{
                span{
                    margin-right: 30px;
                }
                color: #fff;
                font-weight: bold;
            }
            p{
                margin: 50px 0;
            }
            ul,li{
                display: inline-flex;
            }
            .content-loaithe{
                li{
                    margin-right: 3px;
                }
            }
            .thongtin-napthe{
                
                & > div:nth-child(1){
                    th{
                        text-align: right;
                        font-weight: 500;
                        justify-content: right;
                        vertical-align: middle;
                    }
                    td{
                        select{
                            border: 1px solid #3a99c0;
                            border-radius: unset;
                        }
                    }
                }
            }
        }
    }
}
// end nap the
// su kien

// tin tuc
.content-tintuc{
    .box-tintuc{
        overflow: hidden;
        border-bottom: 1px dotted #000;
        img{
            float: left;
            width: 153px;
        }
        .box-text{
            width: calc(100% - 165px);
            p:nth-child(1){
                color: #c51e12;
                strong{font-size: 25px;
                }
                span{float: right}
            }
            p:nth-child(2){
              font-style: italic;  
            }
        }
    }
}
// quen mk
.quenmk{
    h3{
        display: flex;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
        color: #3a99c0;
        font-weight: 700;
        margin: 50px 0 0 0;
    }
    th{
        text-align: right;
        justify-content: right;
        vertical-align: middle;
    }
}
// thong tin tai khoan
.tls-thongtin{
    #v-pills-tab {
        .nav-link{
            border: 1px solid #BEBEBE;
            background: #F8F8F8;
            height: 95px;
            padding: 18px 15px;
            margin: 5px 0px;
            cursor: pointer;
            color: #000;
        }
        .active{
            background-color: #3a99c0!important;
            color: white!important;
        }
        a:nth-child(n+4){
            .content{
                margin-top: 5%;
            }
        }
        .img{
            i{
                font-size: 25px;
                position: relative;
                top: 12px;
            }
        }
        .content{
            margin-left: 12px;
            p{
                margin: 0!important;
            }
        }
    }
    #v-pills-tabContent{
        h3{
            text-align: center;
            line-height: 3.5rem;
            color: #3a99c0;
        }
        .inputWithIcon{
            margin-left: 70px;
            input{
                padding: 0 20px 0 40px;
                width: 100%;
            }
        }
        input{
            border: #3a99c0 1px solid;
            width: 300px;
            color: #000;
            transition: 0.3s;
            height: 42px;
            padding: 0 10px;
            &:focus {
                border-color: dodgerBlue;
                box-shadow: 0 0 8px 0 dodgerblue;
            }
        }
        
    }
}
// INPUT WITH ICON

.inputWithIcon input[type="text"] {
    padding-left: 40px;
    color: #000;
  }
  
  .inputWithIcon {
    position: relative;
    i {
        position: absolute;
        left: 0;
        top: 5px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
      }
    input[type="text"]:focus + i {
        color: dodgerBlue;
    }
    input{
        padding: 10px 40px;
        border: 1px solid #3a99c0;
    }
  }
  
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
 
//   END INPUT WITH ICON

// footer
.tls-footer{
    position: relative;
    top: 1015px;
    color: #fff;
    .block-info {
        width: 550px;
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    img{
        position: relative;
        top: -60px;
        left: 230px;
    }
}

// scroll boxx
.scroll-box{
    overflow-y: scroll;
    height: 1200px;
    padding: 0 20px 0 0;
    &::-webkit-scrollbar{
        width: 7px;
        background: #f8e1bc;
        border-radius: 5px;
        border: 1px solid #000
    } 
    
    &::-webkit-scrollbar-thumb {
        background-color: #e7e7c2;
        border: #858553 solid 1px;
        width: 6px;
        height: 6px;
        border-radius: 5px;
    }
}